

*{
    margin:0;
    padding:0;
  }

  body{
    font-family:cursive,sans-serif;
    font-size:100%;
    margin:3em;
    background-color: #e06900;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    
  }

  h2,p{
    font-size:100%;
    font-weight:normal;
  }

ul.none, li.none {
  list-style-type: none;
  
}


